In [4]:
# import modules
import math
import pandas as pd
import numpy as np

In [5]:
product_array=['Product0','Product1','Product2','Product3','Product4']
SIZE_OF_ARRAY = 5
df = pd.DataFrame({'Products' : product_array,
                   'Rate' : np.array(np.random.randint(20,30,size=SIZE_OF_ARRAY),dtype='int32'),
                   'Jan' : np.array(np.random.randint(1000,10000,size=SIZE_OF_ARRAY),dtype='int32'),
                   'Feb' : np.array(np.random.randint(2000,10000,size=SIZE_OF_ARRAY),dtype='int32'),
                   'Mar' : np.array(np.random.randint(4000,10000,size=SIZE_OF_ARRAY),dtype='int32'),    
                })
cols = ['Products','Rate','Jan','Feb','Mar']
df=df[cols]
df

   Products  Rate   Jan   Feb   Mar
0  Product0    21  9732  3000  8184
1  Product1    23  7683  7919  9231
2  Product2    20  4554  3000  5752
3  Product3    29  8867  9425  9263
4  Product4    22  7576  8459  6418

In [6]:
# Calculate new column from existing ones
# total sales
# Excel equivalent: =(C2+D2+E2) * B2
df["Total"] = (df["Jan"]+df["Feb"]+df["Mar"]*df["Rate"])
df["Comments"] = df["Total"].apply(lambda x: 'Target Met' if x > 300000 else'Target not met')
df

   Products  Rate   Jan   Feb   Mar   Total        Comments
0  Product0    21  9732  3000  8184  184596  Targer not met
1  Product1    23  7683  7919  9231  227915  Targer not met
2  Product2    20  4554  3000  5752  122594  Targer not met
3  Product3    29  8867  9425  9263  286919  Targer not met
4  Product4    22  7576  8459  6418  157231  Targer not met

In [5]:
# Named ranges
# Excel equivalent
#'JAN_SALES = (B2*C2)+(B3*C3)+(B4*C4)' etc.
jan_sales=(df["Jan"]*df["Rate"]).sum()
feb_sales=(df["Feb"]*df["Rate"]).sum()
mar_sales=(df["Mar"]*df["Rate"]).sum()

# Operations on Named ranges
# Excel equivalent
#'TOTAL=SUM(JAN_SALED,FEB_SALES,MAR_SALES)'
total = jan_sales + feb_sales + mar_sales
total

2471536