In [5]:
# import modules
import math
import pandas as pd
import numpy as np

In [6]:
product_array=['Product0','Product1','Product2','Product3','Product4']
SIZE_OF_ARRAY = 5
df = pd.DataFrame({'Products' : product_array,
                   'Rate' : np.array(np.random.randint(20,30,size=SIZE_OF_ARRAY),dtype='int32'),
                   'Jan' : np.array(np.random.randint(6000,10000,size=SIZE_OF_ARRAY),dtype='int32'),
                   'Feb' : np.array(np.random.randint(2000,10000,size=SIZE_OF_ARRAY),dtype='int32'),
                   'Mar' : np.array(np.random.randint(4000,10000,size=SIZE_OF_ARRAY),dtype='int32'),    
                })
cols = ['Products','Rate','Jan','Feb','Mar']
df=df[cols]
df

   Products  Rate   Jan   Feb   Mar
0  Product0    28  7018  7496  8232
1  Product1    28  9581  5212  5225
2  Product2    28  8464  2379  8382
3  Product3    22  8938  5073  7975
4  Product4    23  6031  5651  9146

In [8]:
# Calculate new column from existing ones
# total sales
# Excel equivalent: =(C2+D2+E2) * B2
df["Total"] = (df["Jan"]+df["Feb"]+df["Mar"]*df["Rate"])
df["Comments"] = df["Total"].apply(lambda x: 'Target Met' if x > 200000 else'Targer not met')
df

   Products  Rate   Jan   Feb   Mar   Total        Comments
0  Product0    28  7018  7496  8232  245010      Target Met
1  Product1    28  9581  5212  5225  161093  Targer not met
2  Product2    28  8464  2379  8382  245539      Target Met
3  Product3    22  8938  5073  7975  189461  Targer not met
4  Product4    23  6031  5651  9146  222040      Target Met

In [9]:
# Named ranges
# Excel equivalent
#'JAN_SALES = (B2*C2)+(B3*C3)+(B4*C4)' etc.
jan_sales=(df["Jan"]*df["Rate"]).sum()
feb_sales=(df["Feb"]*df["Rate"]).sum()
mar_sales=(df["Mar"]*df["Rate"]).sum()

# Operations on Named ranges
# Excel equivalent
#'TOTAL=SUM(JAN_SALED,FEB_SALES,MAR_SALES)'
total = jan_sales + feb_sales + mar_sales
total

2698428